<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginKhan</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
    <div class="logo">
      <h1 class="logo_item">SushiKhan</h1>
      <h2 class="logo_item">Login</h2>
    </div>

    <div class="login__panel">
      <div class="login__image"><img src="/images/sushikhan_logo.png" alt=""></div>
      <div class="login__form-wrap">
        <div th:if="${error}" class="login__error">
          Unable to login. Check your name and password.
        </div>
        <p class="login__hint">New here? Click
          <a th:href="@{/register}" class="login__link"> here to register.</a>
        </p>
        <form method="post" th:action="@{/login}" id="loginForm" class="login__form">
          <label for="username">Username: </label>
          <input type="text" name="username" id="username" /><br/>

          <label for="password">Password: </label>
          <input type="password" name="password" id="password"/><br/>

          <input type="submit" value="Login"/>
        </form>
      </div>
    </div>
    <footer class="footer">
        <div class="footer__content">
            <span class="footer__content-logo">SushiKhan</span>
            <p class="footer__content-text">&copy; Dmitriy Rochshupkin 2026</p>
        </div>
    </footer>
</body>
</html>